<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- ApplicationPath value sample - "D:\\TechMeet360\\TollBooth\\LaneScanner\\bin\\Debug\\LaneScanner.exe" />-->
    <add key="ApplicationPath" value="[app path]\\LaneScanner.exe" />
    <add key="LaneInstances" value="[no of lane instances]" />
  </appSettings>
</configuration>